body,
html {
    background: #81D5C3;
}





.nadpis {
    color: #216350;
    text-align: center;
    font-weight: 300;
    font-size: 70px;
}

.nadpis1 {
    color: #216350;
    text-align: center;
    
}

.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    padding: 20px;
    border-radius: 50%;
}

.meno {
    font-size: 45px;
    font-weight: 500;
    color: #13362c;
    margin-left: 400px;
    margin-right: 500px;
}

.specifikacie {
    color: #164437;
    margin-left: 400px;
    margin-right: 500px;
    font-weight: 900;
}

.odstavec {
    color: #102c24;
    font-size: 25px;
    margin-left: 400px;
    margin-right: 500px;


}

.btn {
    text-decoration: none;
    margin-left: 400px;
    margin-right: 500px;
    background-color:#066d57 ;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.btn:hover {
    text-decoration: none;
    background-color: rgb(7, 139, 111);
}
